<div class="channel_key" style={{{tracker.menuLocation}}}>
	{{#each stations as |station|}}
		<div class="stationkey">
					<img src="assets/images/{{station.slug}}.png" alt="" style="width:150px;">
		</div>
	{{/each}}

</div>
{{#if tracker.timeStripeActive }}
<div id="timeStripe" class={{tsClass}}>{{yield}}</div>
{{else}}
<div class="ReactivateButton" style={{tracker.TimeStripePosition}}><button class="large warning button" {{action "reActivateTS"}}><i class="fa fa-refresh"></i> Reactivate Schedule</button></div>
{{/if}}